<!DOCTYPE html>
<html lang="en">
<%- include('component/head.ejs', { title: 'About' }) %>
<body>
    <%- include('component/navbar.ejs', { links }) %>
    <br>

    <h1>About page</h1>
    <p>This is the about page</p>
    
</body>
</html>