<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Express App - Authors</title>
</head>
<body>
    <h1>Authors page</h1>
    <p>This is the authors page</p>
    <!-- LIST OF AUTHORS WITH LINK TO THEIR PAGES -->
    <ul>
      <li><a href="/authors/1">Author 1</a></li>
      <li><a href="/authors/2">Author 2</a></li>
      <li><a href="/authors/3">Author 3</a></li>
    </ul>
    <a href="/books">Books</a>
    <br>
    <br>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/authors">Authors</a>

</body>
</html>