<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Express App - Book Detail</title>
</head>
<body>
    <h1>Book Detail {{id}}</h1>
    <p>This is the book detail page

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, reprehenderit nisi! Totam doloremque sed odit repellendus, deleniti in ratione cum. Quas harum, beatae nemo sapiente corrupti sit, inventore, nesciunt autem non architecto esse porro eum eaque maiores facere ullam! In aut eaque ab dolorem eius reprehenderit quia quis numquam nulla.
    </p>
    <a href="/books">Books</a>
    <a href="/books/{{id}}/reserve">Reserve</a>
</body>
</html>