<!DOCTYPE html>
<html lang="en">
<%- include('component/head.ejs', { title: 'Contact' }) %>
<body>
    <%- include('component/navbar.ejs', { links }) %>
    <br>

    <h1>Contact page</h1>
    <p>This is the contact page</p>
    
</body>
</html>